header {
  display: flex;

  input {
    appearance: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.25em;
    flex: 1;
    border: none;
    font: inherit;
    padding: 1em;
  }

  select {
    appearance: none;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 0.25em;
    border: none;
    font: inherit;
    margin-left: 2em;
    padding: 0 1em;
    width: 100%;
    height: 50px;
  }

  label {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    font-weight: bold;
  }
}

@media only screen and (max-width: 768px) {
  header {
    margin: 1em;
  }
}

@media only screen and (min-width: 768px) {
  header {
    margin: 2em;
  }
}
