*,
*:after,
*:before {
  border-radius: 0;
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
  outline: none;
  padding: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Emirates Group Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Emirates Group Regular'), local('Emirates Group Regular'),
    url('assets/fonts/emirates-font.ttf') format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Emirates Group Regular' !important;
  background: #fff;
  color: #111;
  display: flex;

  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
